[submodule "frontend"]
	path = frontend
	url = https://github.com/Agentity-AI/hederaAgentityFrontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Agentity-AI/hederaAgentityBackend.git
